* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #A7DEF8;
    overflow-x: hidden;
}

/* Container navbar */
.container-navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background: linear-gradient(180deg, white 23%, rgba(255, 255, 255, 0) 100%);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    display: flex;
    gap: 5px;
}

.logo-icon div {
    width: 12px;
    height: 19px;
}

.logo-text {
    color: #4DBD97;
    font-weight: 700;
    font-size: 18px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #4DBD97;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links {
    position: absolute;
    right: 200px;
    top: 37px;
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: #4DBD97;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    color: #3CA84B;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 610px;
}

.hero-title {
    width: 665px;
    height: 143px;
    left: 173px;
    top: 308px;
    position: absolute;
    color: #0D938D;
    font-size: 64px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    line-height: 58px;
}

.hero-description {
    width: 635px;
    left: 166px;
    top: 438px;
    position: absolute;
    color: #0D938D;
    font-size: 16px;
    line-height: 18px;
}

.hero-image-container {
    width: 387px;
    height: 392px;
    left: 871px;
    top: 270px;
    position: absolute;
    background: #0D938D;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
}

.hero-image {
    width: 314px;
    height: 120px;
    left: 36px;
    top: 55px;
    position: absolute;
    background: #0D938D;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Article Cards */
.articles {
    position: relative;
    width: 100%;
    height: 1024px;
    top: 875px;
}

.article-row {
    display: flex;
    justify-content: space-between;
    padding: 0 87px;
    margin-bottom: 587px;
}

.article-card {
    width: 398.83px;
    height: 511px;
    position: relative;
    background: #A8CF3E;
    border-top-left-radius: 191.74px;
    border-top-right-radius: 191.74px;
    border-bottom-right-radius: 28.76px;
    border-bottom-left-radius: 28.76px;
    overflow: hidden;
}

.article-image {
    width: 100%;
    height: 268.44px;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.article-content {
    position: absolute;
    top: 288.58px;
    left: 41.29px;
    width: 310.63px;
}

.article-title {
    color: #4B5EAB;
    font-size: 24px;
    font-weight: 700;
    line-height: 23.01px;
    margin-bottom: 20px;
}

.article-description {
    color: #4B5EAB;
    font-size: 16px;
    line-height: 17.26px;
    margin-bottom: 35px;
}

.article-button {
    width: 255.98px;
    height: 50.81px;
    background: #0D938D;
    border-radius: 47.94px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-button-text {
    color: white;
    font-size: 23.01px;
    font-weight: 400;
    line-height: 34.51px;
}

/* Footer */
.footer {
    width: 1440px;
    height: 610px;
    position: absolute;
    top: 2137px;
    overflow: hidden;
}

.footer-bg {
    width: 1440px;
    height: 475px;
    position: absolute;
    top: 135px;
    background: #FCF4A3;
}

.footer-content {
    width: 854px;
    height: 135px;
    position: absolute;
    left: 77px;
    top: 380px;
}

.footer-title {
    color: #4B5EAB;
    font-size: 20px;
    font-weight: 700;
}

.footer-text {
    color: #4B5EAB;
    font-size: 20px;
    font-weight: 400;
}

.footer-contact {
    position: absolute;
    left: 1027px;
    top: 335px;
    color: #4B5EAB;
    font-size: 20px;
    font-weight: 700;
}

.footer-phone {
    top: 335px;
}

.footer-email {
    top: 384px;
}

.footer-instagram {
    top: 438px;
}

.footer-facebook {
    top: 494px;
}

.footer-icon {
    position: absolute;
    background: #4B5EAB;
}

.footer-phone-icon {
    width: 33.97px;
    height: 33.98px;
    left: 970px;
    top: 330px;
}

.footer-email-icon {
    width: 35.02px;
    height: 28.02px;
    left: 969px;
    top: 383px;
}

.footer-instagram-icon {
    width: 37px;
    height: 37px;
    left: 969px;
    top: 433px;
}

.footer-facebook-icon {
    width: 39px;
    height: 38px;
    left: 967px;
    top: 489px;
}

/* Footer Logo */
.footer-logo {
    position: absolute;
    left: 85px;
    top: 234px;
}

.footer-logo-orange {
    width: 23.68px;
    height: 38.46px;
    background: #F7941D;
    position: absolute;
}

.footer-logo-orange-gradient {
    width: 69.81px;
    height: 38.61px;
    left: 8.58px;
    background: linear-gradient(90deg, #FAAE1C 0%, #F9A21E 25%, #F79021 72%, #F68922 100%);
    position: absolute;
}

.footer-logo-blue {
    background: #4B8ECB;
    position: absolute;
}

.footer-logo-blue-1 {
    width: 33.31px;
    height: 35.02px;
    left: 1.65px;
    top: 72.86px;
}

.footer-logo-blue-2 {
    width: 22.05px;
    height: 23.09px;
    left: 34.95px;
    top: 87.54px;
}

.footer-logo-blue-3 {
    width: 20.54px;
    height: 22.06px;
    left: 59.17px;
    top: 90.68px;
}

.footer-logo-blue-4 {
    width: 21.81px;
    height: 38.99px;
    left: 81.87px;
    top: 88.67px;
}

.footer-logo-blue-5 {
    width: 18.65px;
    height: 30.49px;
    left: 105.54px;
    top: 83.28px;
}

.footer-logo-blue-6 {
    width: 24.93px;
    height: 29.41px;
    left: 139.44px;
    top: 76.56px;
}

.footer-logo-blue-7 {
    width: 21.04px;
    height: 31.96px;
    left: 121.91px;
    top: 79.66px;
}

.footer-logo-blue-8 {
    width: 22.46px;
    height: 25.64px;
    left: 164.37px;
    top: 74.72px;
}

.footer-logo-green {
    background: #4DBD97;
    position: absolute;
}

.footer-logo-green-1 {
    width: 19.51px;
    height: 36.59px;
    left: 25.20px;
    top: 29.53px;
}

.footer-logo-green-2 {
    width: 22.03px;
    height: 25.06px;
    left: 45.58px;
    top: 44.88px;
}

.footer-logo-green-3 {
    width: 23.52px;
    height: 26.18px;
    left: 119.89px;
    top: 44.02px;
}

.footer-logo-green-4 {
    width: 51.05px;
    height: 42.90px;
    left: 140.95px;
    top: 35.95px;
}

.footer-logo-green-5 {
    width: 121.09px;
    height: 44.48px;
    left: -2px;
    top: 42.16px;
}

.footer-logo-green-6 {
    width: 28.63px;
    height: 26.58px;
    left: 69.40px;
    top: 44.87px;
}

/* Decorative Elements */
.decorative-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Responsive adjustments */
@media (max-width: 1440px) {

    .container,
    .header,
    .footer {
        width: 100%;
    }

    .article-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .article-card {
        margin: 20px;
    }
}